input {
    outline: none;
    border: none;
    background: transparent;
    /*border: 1px solid white;*/
}
select {
    appearance: none;
    background: url("../images/angle-down.svg") no-repeat right;
    background-position-x: calc(100% - 3px);
}
.table {
    border: none;
    top: 0px;
    left: 138px;
    position: absolute;
}
.table thead th {
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    vertical-align: top;
    font-family: Montserrat;
    font-weight: 400;
    flex-wrap: nowrap;
    font-size: 13px;
    width: 13vw;
}
.table tbody tr{
    background: #ffffff;
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.v25_1053 {
    width: 821px;
    height: 606px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v364_441 {
    width: 771px;
    height: 471px;
    background: url("../images/v364_441.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 67px;
    left: 24px;
    overflow: hidden;
}
.v25_1058 {
    width: 771px;
    height: 471px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.v25_1071 {
    width: 81px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 53px;
    left: 122px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v25_1119 {
    width: 196px;
    color: rgba(69,167,62,1);
    position: absolute;
    top: 83px;
    left: 7px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v25_1118 {
    width: 372px;
    color: rgba(0,148,63,1);
    position: absolute;
    top: 18px;
    left: 225px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v364_439 {
    width: 771px;
    height: 127px;
    background: url("../images/v364_439.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 554px;
    left: 24px;
    overflow: hidden;
}
.v25_1059 {
    width: 771px;
    height: 127px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.v25_1065 {
    width: 540px;
    height: 74px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 21px;
    left: 206px;
    border: 1px solid rgba(0,0,0,1);
}
.v25_1073 {
    width: 105px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 98px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v364_440 {
    width: 214px;
    height: 27px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 560px;
    left: 564px;
    overflow: hidden;
}
.v350_827 {
    width: 103px;
    height: 27px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}


.v350_828 {
    width: 95px;
    height: 27px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 119px;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.v18_111 {
    width: 79vw;
    height: 377px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 47px;
    left: 200px;
    overflow: auto;
}
.v364_442 {
    width: 821px;
    height: 38px;
    background: url("../images/v364_442.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v25_1056 {
    width: 821px;
    height: 38px;
    background: rgba(20,126,75,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v25_1057 {
    width: 450px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 16px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.balance {
    width: 821px;
    height: 606px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
}
#blackout-balance {
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
    height: 170.4vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-black {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: auto;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
#blackout-balance:target {display: block;}