.edit {
    width: 672px;
    height: 620px;
    background: transparent;
    opacity: 1;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
#blackout-edit {
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
    height: 170.4vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-black-ed {
    display: flex;
    justify-content: center;
    padding: 8% 0;
    margin: auto;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
#blackout-edit:target {display: block;}