input {
    outline: none;
    border: none;
    background: transparent;
    /*border: 1px solid white;*/
}
.v249_738 {
    width: 434px;
    height: 197px;
    background: rgba(255,255,255,1);
    border-radius: 10px;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v249_740 {
    width: 440px;
    height: 45px;
    background: rgba(20,126,75,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v249_741 {
    width: 202px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 10px;
    left: 21px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v254_829 {
    position: absolute;
    width: 260px;
    height: 20px;
    left: 92px;
    top: 85px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #090808;
}
.v254_831 {
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    background: white;
    color: black;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: center;
    cursor: pointer;
    width: 116px;
    height: 40px;
    left: 164px;
    top: 133px;
    box-sizing: border-box;
    position: absolute;
    width: 116px;
    height: 40px;
    left: 164px;
    top: 133px;
    border: 1px solid #000000;
    border-radius: 5px;
}
.v254_834 {
    width: 103px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: center;
    cursor: pointer;
    width: 116px;
    height: 40px;
    left: 294px;
    top: 133px;
    border-radius: 5px;
}

.v254_831:hover {
    background: #45A73E;
    border: 0px;
    transition-duration: 1s;
    color: white;
}

.v254_834:hover {
    background: #45A73E;
    transition-duration: 1s;
}

.confirm {
    width: 434px;
    height: 197px;
    background: transparent;
    border-radius: 10px;
    opacity: 1;
    position: relative;
    overflow: hidden;
}
#blackout-confirm {
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-black {
    display: flex;
    justify-content: center;
    padding: 20% 0;
    margin: auto;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
#blackout-confirm:target {display: block;}