<div th:fragment="edit-password" class="password">
    <div class="v105_824">
        <span class="v306_431">Старый пароль</span>
        <input type="password" class="v306_430">
        <input type="password" class="v306_432">
        <span class="v306_433">Новый пароль</span>
        <span class="v306_425">Смена пароля</span>
        <a href="#">
            <input type="submit" class="v306_434" value="Отменить">
        </a>
        <input type="submit" class="v306_437"  value="Сохранить">
    </div>
</div>

<div th:fragment="blackout-password" id="blackout-password">
    <a href="#" class="close"></a>
    <div id="window-black">
        <div th:insert="profiles/edit-password :: edit-password"></div>
    </div>
</div>