<div th:fragment="confirmation-window" class="confirm">
  <div class="v249_738">
    <div class="v249_740"></div>
    <span class="v249_741">Подтверждение</span>
    <img style="position: absolute;width: 54px;height: 54px;left: 24px;top: 67px;"
         src="../static/images/exception.svg" th:src="@{images/exception.svg}">
    <span class="v254_829">Подтвердить ваше действие?</span>

    <a href="#">
      <input type="submit" class="v254_831" value="Отменить">
    </a>
    <form th:action="${url}" method="post" >
      <input type="submit" class="v254_834" value="Продолжить">
      <input type="hidden" name="rowId" th:value="${id}">
    </form>
  </div>
</div>

<div th:fragment="blackout-confirm" id="blackout-confirm">
  <a href="#" class="close"></a>
  <div id="window-black">
    <div th:insert="confirmations/confirmation-window :: confirmation-window"></div>
  </div>
</div>