<div th:fragment="create-brigade" class="windowBrigade">
  <div class="v23_864">
    <span class="v23_878">Члены бригады</span>
    <span class="v23_879">Сотрудники</span>
    <div class="v336_489">
        <form action="/planning-collection/create-brigade/del" method="post">
        <input id="del" type="submit" value="Удалить инкассатора" class="v336_487" disabled>
        <input type="hidden" name="rowId" id="rowIdDel">
        </form>
        <div class="v18_232">
          <table class="table">
            <thead>
            <tr>
              <th>№</th>
              <th>Роль</th>
              <th>Пользователь</th>
            </tr>
            </thead>
            <tbody>
            <tr class="v4" th:each="lst, iter : ${userList}" th:id="${iter.count - 1}" onclick="document.getElementById('rowIdDel').value = this.getAttribute('id');
              document.getElementById('del').disabled = false;">
              <td style="width: 0vw" th:text="${iter.count}">№</td>
              <td style="width: 14vw" th:text="${lst.nameRole}">Роль</td>
              <td style="width: 18vw" th:text="${lst.lastName} + ' ' + ${lst.firstName}">Пользователь</td>
              <input name="id">
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    <div class="v23_865"></div>
    <span class="v23_866">Бригада</span>
    <div class="v23_941">
      <form action="/planning-collection/create-brigade/add" method="post">
        <input id="add" type="submit" value="Добавить инкассатора" class="v336_485" disabled>
        <input type="hidden" name="rowId" id="rowIdAdd">
      </form>
      <div class="v18_232">
        <table class="table">
          <thead>
          <tr>
            <th>Роль</th>
            <th>Пользователь</th>
          </tr>
          </thead>
          <tbody>
          <tr class="v3" th:each="lst : ${users}" th:id="${lst.id}" onclick="document.getElementById('rowIdAdd').value = this.getAttribute('id');
            document.getElementById('add').disabled = false;">
            <td style="width: 14vw" th:text="${lst.nameRole}">Роль</td>
            <td style="width: 18vw;" th:text="${lst.lastName} + ' ' + ${lst.firstName}">Пользователь</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <form action="/planning-collection/create-brigade/create" method="post">
    <div class="v336_490">
         <div style="position: absolute;top: 10px">
            <span class="v23_885">Бригада</span>

            <span class="v23_937">Действующий</span>

              <span class="v23_882">Компания</span>
              <select name="company" class="v23_870">
                <option th:each="el, iterStat : ${companies}" th:value="${iterStat.index + 1}" th:text="${el.companyName}">
                </option>
              </select>

              <input name="active" class="v17_446" type="checkbox">
              <input required name="brigadeName" type="text" class="v23_871">
        </div>
      </div>
      <input type="submit" value="Применить" class="v336_488">
    </form>

    <a href="#">
      <input type="submit" value="Отменить" class="v336_486">
    </a>

  </div>
</div>

<div th:fragment="blackout-brigade" id="blackout-brigade">
  <a href="#" class="close"></a>
  <div id="window-black">
    <div th:insert="planning/create-brigade :: create-brigade"></div>
  </div>
</div>