<div th:fragment="create-brigade" class="windowBrigade">
  <div class="v23_864">
    <div class="v336_489">
      <div class="v23_867"></div>
      <input type="submit" value="Удалить инкассатора" class="v336_487">
      <span class="v23_878">Члены бригады</span>
      <table class="table">
        <thead>
        <tr>
          <th>№</th>
          <th>Роль</th>
          <th>Пользователь</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lst : ${users}">
          <td th:text="${lst.id}">№</td>
          <td th:text="${lst.firstName}">Роль</td>
          <td th:text="${lst.lastName}">Пользователь</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="v23_865"></div>
    <img style="position: absolute;width: 24px;height: 24px;right: 10px;top: 7px;"
         src="../static/images/close.svg" th:src="@{images/close.svg}">
    <span class="v23_866">Бригада</span>
    <div class="v23_941">
      <span class="v23_878">Роли</span>
      <span style="left:300px" class="v23_878">Пользователи</span>
      <input type="submit" value="Добавить инкассатора" class="v336_485">
    </div>
    <div class="v336_490">
      <div class="v23_868"></div>
      <span class="v23_885">Бригада</span>
      <span class="v23_937">Действующий</span>
      <input class="v17_446" type="checkbox">
      <span class="v23_882">Компания</span>
      <select class="v23_870"></select>
      <input type="text" class="v23_871">
    </div>
    <input type="submit" value="Применить" class="v336_486">
    <input type="submit" value="Закрыть" class="v336_488">
  </div>
</div>

<div th:fragment="blackout-brigade" id="blackout-brigade">
  <a href="#" class="close"></a>
  <div id="window-black">
    <div th:insert="planning/create-brigade :: create-brigade"></div>
  </div>
</div>