<div th:fragment="plan-cash" class="planCash">
  <div class="v22_750">
    <div class="v321_690">
      <span class="v22_770">Количество - единственное редактируемое поле</span>
      <div class="v18_23">
      <table class="table">
        <thead>
        <tr>
          <th>Номер</th>
          <th>Кассета</th>
          <th>Количество</th>
          <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lst : ${cassettes}">
          <td th:text="${lst.cassetteNum}">№</td>
          <td th:text="${lst.banknote}">Номинал</td>
          <td th:text="${lst.amount}">Количество</td>
          <td th:text="${lst.sumAmount}">Сумма</td>
        </tr>
        </tbody>
      </table>
      </div>
      <span class="v22_846">Кассеты</span>

      <div style="position: absolute; top: 300px;">
        <span class="v22_844">Всего (BYN)</span>
        <span class="v22_843" th:text="${sum} + ' BYN'"></span>
      </div>

    </div>
    <div class="v22_755"></div>
    <span class="v22_756">План наличных</span>
    <div class="v22_800">
      <form action="planning/plan-cash-function" method="post">
      <input name="date" required type="date" class="v22_831">
      <input type="submit" value="Рассчитать" class="v321_627">
      </form>
      <span class="v22_810">Дата инкассации</span>
    </div>

    <a href="/planning/add">
      <input type="submit" value="Применить" class="v22_761">
    </a>

    <a href="#">
      <input type="submit" value="Отменить" class="v22_760">
    </a>
    <span class="v22_769">А0100089, Заказ, План. инкассация 07.08.2022</span>
  </div>
</div>

<div th:fragment="blackout-plan" id="blackout-plan">
  <a href="#" class="close"></a>
  <div id="window-black">
    <div th:insert="planning/plan-cash :: plan-cash"></div>
  </div>
</div>