<div th:fragment="company" class="company">
  <div class="v414_277">
    <div class="v414_278">
      <span class="v414_279">Регистрация компании</span>
    </div>

    <form th:action="@{/users/registration-company}" method="post">
      <div class="v414_281">

        <input name="companyName" required type="text" class="v414_283">

        <select name="countryId" class="v414_284">
          <option th:each="el, iterStat : ${countries}" th:value="${iterStat.index + 1}" th:text="${el.countryName}">
        </select>
        <select name="cityId" class="v414_285">
          <option th:each="el, iterStat : ${cities}" th:value="${iterStat.index + 1}" th:text="${el.cityName}">
        </select>
        <input name="address" required type="text" class="v414_286">
        <input name="homeNum" required type="number" class="v414_287">
        <span class="v414_294">Пожалуйста, заполните все поля</span>
        <span class="v414_295">Название компании</span>
        <span class="v414_296">Страна</span>
        <span class="v414_297">Город</span>
        <span class="v414_298">Улица</span>
        <span class="v414_299">Дом</span>

      </div>
        <a href="#">
          <input type="button" class="v601_278" value="Отменить">
        </a>

        <input type="submit" class="v601_277" value="Применить">

    </form>
  </div>
</div>

<div th:fragment="blackout-company" id="blackout-company">
  <a href="#" class="close"></a>
  <div id="window-black">
    <div th:insert="users/registration-company :: company"></div>
  </div>
</div>

