.v1_6 {
    width: 315px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 178px;
    left: 197px;
    overflow: hidden;
}
.password-control {
    position: absolute;
    top: 8px;
    right: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../../images/password-lock-black.svg") 0 0 no-repeat;
}
.password-control.view {
    background: url("../../images/password-unlock-black.svg") 0 0 no-repeat;
}
.container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.window {
    width: 566px;
    height: 572px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
}
#blackout-edit {
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-black {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: auto;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
#blackout-edit:target {display: block;}

input {
    outline: none;
    border: none;
    background: transparent;
    /*border: 1px solid white;*/
}
select {
    appearance: none;
    background: url("../../images/angle-down.svg") no-repeat right;
    background-position-x: calc(100% - 3px);
}
.v17_358 {
    width: 575px;
    height: 565px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v17_415 {
    width: 575px;
    height: 38px;
    background: rgba(20,126,75,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v306_440 {
    width: 550px;
    height: 550px;
    background: url("../images/v306_440.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 16px;
    overflow: hidden;
}
.v17_417 {
    width: 543px;
    height: 453px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 54px;
    left: 7px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
.v17_416 {
    width: 234px;
    color: rgba(255,255,255,1);
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v17_437 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 96px;
    left: 197px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v17_438 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 137px;
    left: 197px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v17_439 {
    width: 301px;
    height: 31px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v17_440 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 219px;
    left: 197px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v17_441 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 260px;
    left: 197px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v17_442 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 197px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v17_443 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 341px;
    left: 197px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v17_444 {
    width: 315px;
    height: 35px;
    opacity: 1;
    position: absolute;
    top: 382px;
    left: 197px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 7px;
}
.v17_445 {
    width: 315px;
    height: 35px;
    opacity: 1;
    position: absolute;
    top: 423px;
    left: 197px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 7px;
}
.v17_446 {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 465px;
    left: 194px;
    border-radius: 30%;
    border: 1px solid black;
    appearance: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    -webkit-appearance: none;
}
.v17_446:checked {
    appearance: auto; /**/
    border: none;
    background-color: #00943F;
    opacity: 1;
}
.v17_430 {
    width: 145px;
    height: 27px;
    background: rgba(0,148,63,1);
    opacity: 1;
    position: absolute;
    top: 518px;
    left: 95px;
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.v17_433 {
    width: 107px;
    height: 27px;
    background: rgba(0,148,63,1);
    opacity: 1;
    position: absolute;
    top: 518px;
    left: 272px;
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.v17_435 {
    width: 95px;
    height: 27px;
    background: rgba(0,148,63,1);
    opacity: 1;
    position: absolute;
    top: 518px;
    left: 390px;
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.v17_418 {
    width: 248px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 63px;
    left: 31px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    opacity: 1;
}
.v17_419 {
    width: 139px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 103px;
    left: 49px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_421 {
    width: 146px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 144px;
    left: 43px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_422 {
    width: 56px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 185px;
    left: 131px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_423 {
    width: 157px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 226px;
    left: 31px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_424 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 267px;
    left: 155px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_425 {
    width: 71px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 307px;
    left: 117px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_426 {
    width: 127px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 348px;
    left: 63px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_427 {
    width: 144px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 389px;
    left: 46px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_428 {
    width: 77px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 430px;
    left: 112px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v17_429 {
    width: 127px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 470px;
    left: 63px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}


input {
    padding-left: 10px;
}
