.v414_277 {
    width: 575px;
    height: 381px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v414_278 {
    width: 575px;
    height: 38px;
    background: rgba(20,126,75,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v414_279 {
    width: 203px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 16px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.name {
    color: #fff;
}
.v414_281 {
    width: 543px;
    height: 308px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 59px;
    left: 20px;
    overflow: hidden;
}
.v414_282 {
    width: 543px;
    height: 263px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
input {
    outline: none;
    border: none;
    background: transparent;
    /*border: 1px solid white;*/
}
select {
    appearance: none;
    background: url("../../images/angle-down.svg") no-repeat right;
    background-position-x: calc(100% - 3px);
}
.v414_283 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 190px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v414_284 {
    width: 315px;
    height: 35px;
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 190px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 7px;
}
.v414_285 {
    width: 315px;
    height: 35px;
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 190px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 7px;
}
.v414_286 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 165px;
    left: 190px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v414_287 {
    width: 301px;
    height: 31px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 206px;
    left: 190px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v414_294 {
    width: 248px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_295 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 49px;
    left: 27px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_296 {
    width: 53px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 90px;
    left: 127px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_297 {
    width: 44px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 131px;
    left: 136px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_298 {
    width: 47px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 172px;
    left: 133px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_299 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 213px;
    left: 148px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v601_278 {
    width: 103px;
    height: 27px;
    background: url("../images/v601_278.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 281px;
    left: 282px;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor:pointer;
    border-radius: 10px;
}

.v601_277 {
    width: 95px;
    height: 27px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 281px;
    left: 404px;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor:pointer;
    border-radius: 10px;
}

.company {
    width: 575px;
    height: 381px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
}
#blackout-company {
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-black {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: auto;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
#blackout-company:target {display: block;}