.v414_277 {
    opacity: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: relative;
    width: 490px;
    height: 381px;
    background: white;
    border-radius: 5px;
}
.v414_278 {
    width: 575px;
    height: 38px;
    background: rgba(20,126,75,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v414_279 {
    width: 203px;
    color: white;
    position: absolute;
    top: 9px;
    left: 16px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v414_281 {
    background-size: cover;
    opacity: 1;
    position: absolute;
    overflow: hidden;
    width: 463px;
    height: 241px;
    left: 2px;
    top: 50px;
}
.v414_282 {
    width: 543px;
    height: 263px;
    background: white;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}
input {
    outline: none;
    border: none;
    background: transparent;
    /*border: 1px solid white;*/
}
select {
    appearance: none;
    background: url("../../images/angle-down.svg") no-repeat right;
    background-position-x: calc(100% - 3px);
}
.v414_283 {
    width: 249px;
    height: 31px;
    background: white;
    opacity: 1;
    position: absolute;
    top: 42px;
    left: 199px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v414_284 {
    width: 263px;
    height: 35px;
    opacity: 1;
    position: absolute;
    top: 83px;
    left: 199px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 7px;
}
.v414_285 {
    width: 263px;
    height: 35px;
    opacity: 1;
    position: absolute;
    top: 124px;
    left: 199px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    padding-left: 7px;
}
.v414_286 {
    width: 249px;
    height: 31px;
    background: white;
    opacity: 1;
    position: absolute;
    top: 165px;
    left: 199px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v414_287 {
    width: 59px;
    height: 31px;
    background: white;
    opacity: 1;
    position: absolute;
    top: 206px;
    left: 199px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 5px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}
.v414_294 {
    width: 248px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 9px;
    left: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_295 {
    width: 153px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 49px;
    left: 27px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_296 {
    width: 53px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 90px;
    left: 127px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_297 {
    width: 44px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 131px;
    left: 136px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_298 {
    width: 47px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 172px;
    left: 133px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v414_299 {
    width: 32px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 213px;
    left: 148px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v601_278 {
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 1;
    overflow: hidden;
    background: transparent;
    color: black;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    width: 116px;
    height: 40px;
    left: 205px;
    top: 314px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.v601_277 {
    opacity: 1;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    width: 116px;
    height: 40px;
    left: 347px;
    top: 314px;
    background: #00943F;
    border-radius: 5px;
}

.company {
    background: transparent;
    opacity: 1;
    position: relative;
    overflow: hidden;
    width: 490px;
    height: 381px;
    border-radius: 10px;
}
#blackout-company {
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-black {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: auto;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
#blackout-company:target {display: block;}

.v601_278:hover {
    background: #45A73E;
    border: 0px;
    transition-duration: 1s;
    color: white;
}

.v601_277:hover {
    background: #45A73E;
    transition-duration: 1s;
}