<div th:fragment="filter">
    <div class="v14_532">
        <img style="position: absolute;width: 24px;height: 24px;left: 15px;top: 12px;" src="../static/images/angle-up-black.svg" th:src="@{images/angle-up-black.svg}">
        <span class="v14_550">Общий фильтр</span>
        <span class="v14_565">Скрыть</span>
        <div style="left: 50px;position: absolute;">
            <select class="v14_558">
                <option value="1">Банкомат</option>
            </select>
            <select class="v14_560"></select>
            <input class="v14_564">
            <span class="v14_555">Тип объекта</span>
            <span class="v14_559">ID объекта</span>
            <span class="v14_563">Адрес</span>
        </div>
    </div>
</div>
