<div th:fragment="header">
    <header>
        <div class="v1_51">
            <div class="v1_49">
                <img src="../static/images/menu.svg" th:src="@{images/menu.svg}">
            </div>
            <a class="v1_52">Профиль</a>
            <div class="v1_48">
                <img src="../static/images/notification.svg" th:src="@{images/notification.svg}">
            </div>
            <div class="v1_47">
                <img src="../static/images/message.svg" th:src="@{images/message.svg}">
            </div>
            <span class="v173_385">Руководитель Максим</span>
            <input class="v2_109" type="submit" value="Выход">
        </div>
    </header>
</div>