<div th:fragment="header">
    <header>
        <div class="v1_51">
            <a href="/profile" class="v1_52" th:text="${headerText}"></a>
            <div class="v1_49">
                <img src="../static/images/menu.svg" th:src="@{images/menu.svg}">
            </div>
            <a href="#blackout-exit">
                <div class="v1_18">
                    <input class="v2_109" type="submit" value="Выход"/>
                    <div class="v1_17">
                        <img src="../static/images/exit.svg" th:src="@{images/exit.svg}">
                    </div>
                </div>
            </a>

            <span class="v173_385" th:text="${headerPost}"></span>
        </div>
    </header>
</div>
