<div th:fragment="menu-country">
  <div class="v1_50">
      <div class="sidenav">
        <button class="dropdown-btn" th:text="'Беларусь ('+ ${countryCities} + ')'">
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <div th:each="el, iterStat : ${cities}" >
              <button class="dropdown-btn" th:text="${el.cityName} + ' ('+ ${el.cityAtms} + ')'">
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a th:href="${urlPage} + '/' + ${atm.id}" th:each="atm, iterStat : ${el.atmsList}" th:text="${atm.atmUid}"></a>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!--<div class="dropdown-container">
  <a th:href="${url} + '/' + ${el.id}" th:each="el, iterStat : ${atmList}" th:text="${el.atmUid}"></a>
</div>-->
