<div th:fragment="menu-cashier-storage">
  <div class="v1_50">
    <div class="v28_664">
      <span class="v2_97">Хранилище</span>
      <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
    </div>
    <a href="/monitoring-storage">
      <input type="submit" class="v2_66" style="top: 60px;" value="Мониторинг">
    </a>
    <input type="submit" class="v2_66" style="top: 90px;" value="Заказ инкассации">
    <input type="submit" class="v2_66" style="top: 120px;" value="Журнал">
  </div>
</div>