<div th:fragment="menu-admin">
    <div class="v1_50">
        <div class="v28_447">
            <span class="v1_61">Администрирование</span>
            <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
        </div>
            <a href="/users">
                <input type="submit" class="v2_66" value="Пользователи">
             </a>
        <div class="v78_325">
            <span class="v2_79">Служба инкассации</span>
            <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
        </div>
        <div class="v28_669">
            <span class="v2_83">Кассовый центр</span>
            <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
        </div>
        <div class="v28_664">
            <span class="v2_97">Хранилище</span>
            <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
        </div>
        <div class="v78_324">
            <input type="submit" class="v2_76" value="Аналитика">
        </div>
        <a href="/maps">
            <input type="submit" class="v2_66" style="top: 355px;" value="Карты">
        </a>
        <a href="/planning">
            <input type="submit" class="v2_66" style="top: 325px;" value="Планирование">
        </a>
        <a href="/monitoring">
            <input type="submit" class="v2_66" style="top: 295px;" value="Мониторинг">
        </a>

        <a href="/monitoring-storage">
            <input type="submit" class="v2_66" style="top: 435px;" value="Мониторинг">
        </a>
        <input type="submit" class="v2_66" style="top: 465px;" value="Заказ инкассации">

        <a href="/collection">
            <input type="submit" class="v2_66" style="top: 183px;" value="Инкассации">
        </a>
        <input type="submit" class="v2_66" style="top: 213px;" value="Планирование (CIT)">
    </div>
</div>