<div th:fragment="menu">
    <div class="v1_50">
        <div class="v28_447">
            <span class="v1_61">Администрирование</span>
            <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
        </div>
            <input type="submit" class="v2_66" value="Роли и функции">
            <input type="submit" class="v2_66" style="top:94px;" value="Пользователи">
        <div class="v78_325">
            <span class="v2_79">Служба инкассации</span>
            <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
        </div>
        <div class="v28_669">
            <span class="v2_83">Кассовый центр</span>
            <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
        </div>
        <div class="v28_664">
            <span class="v2_97">Хранилище</span>
            <img src="../static/images/angle-up.svg" th:src="@{images/angle-up.svg}">
        </div>
        <div class="v78_324">
            <input type="submit" class="v2_76" value="Аналитика">
        </div>
        <input type="submit" class="v2_66" style="top: 410px;" value="Карты">
        <input type="submit" class="v2_66" style="top: 380px;" value="Балансировка">
        <input type="submit" class="v2_66" style="top: 350px;" value="Планирование">
        <input type="submit" class="v2_66" style="top: 320px;" value="Мониторинг">


        <input type="submit" class="v2_66" style="top: 480px;" value="Мониторинг">
        <input type="submit" class="v2_66" style="top: 510px;" value="Заказ инкассации">
        <input type="submit" class="v2_66" style="top: 540px;" value="Журнал">

            <input type="submit" class="v2_66" style="top: 212px;" value="Инкассации">
            <input type="submit" class="v2_66" style="top: 242px;" value="Планирование (CIT)">
    </div>
</div>