 <div th:fragment="search">
  <div class="v1_3">
    <img  src="../static/images/printer.svg" th:src="@{images/printer.svg}"
          style="position: absolute;width: 24px;height: 24px;right: 0px;top: 0px;">
    <img  src="../static/images/refresh.svg" th:src="@{images/refresh.svg}"
          style="position: absolute;width: 24px;height: 24px;right: 30px;top: 0px;">
    <img  src="../static/images/angle-right-double.svg" th:src="@{images/angle-right-double.svg}"
          style="position: absolute;width: 24px;height: 24px;right: 60px;top: 0px;">
    <img  src="../static/images/angle-right.svg" th:src="@{images/angle-right.svg}"
          style="position: absolute;width: 24px;height: 24px;right: 80px;top: 0px;">
    <img  src="../static/images/angle-left.svg" th:src="@{images/angle-left.svg}"
          style="position: absolute;width: 24px;height: 24px;right: 300px;top: 0px;">
    <img  src="../static/images/angle-left-double.svg" th:src="@{images/angle-left-double.svg}"
          style="position: absolute;width: 24px;height: 24px;right: 320px;top: 0px;">
    <img  src="../static/images/checked.svg" th:src="@{images/checked.svg}"
          style="position: absolute;width: 24px;height: 24px;right: 580px;top: 0px;">
    <input type="text" class="v14_606">
    <select class="v14_602"></select>
    <span class="v14_595">Объекты (12)</span>
    <span class="v14_596">Автообновление</span>
    <span class="v14_601">Размер страницы</span>
    <span class="v14_605">Страница</span>
    <span class="v14_607">из 1</span>
  </div>
</div>

 <!--DELETE-->
