input {
    padding-left: 10px;
}
.windowBrigade {
    width: 684px;
    height: 860px;
    background: transparent;
    border-radius: 10px;
    opacity: 1;
    position: relative;
    overflow: hidden;
}
#blackout-brigade {
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
    height: 170.5vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-black {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: auto;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
#blackout-brigade:target {display: block;}
input {
    outline: none;
    border: none;
    background: transparent;
    /*border: 1px solid white;*/
}
select {
    appearance: none;
    background: url("../../images/angle-down.svg") no-repeat right;
    background-position-x: calc(100% - 3px);
}
.v17_446 {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 90px;
    left: 110px;
    border-radius: 30%;
    border: 1px solid black;
    appearance: none;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    -webkit-appearance: none;
}
.v17_446:checked {
    appearance: auto; /**/
    border: none;
    background-color: #00943F;
    opacity: 1;
}
.table {
    border: none;
    top: 50px;
    left: 138px;
    position: absolute;
}
.table thead th {
    text-align: left;
    border: none;
    padding: 10px 15px;
    background: #d8d8d8;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
}
.table thead tr th:first-child {
    border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
    border-radius: 0 8px 8px 0;
}
.table tbody td {
    text-align: left;
    border: none;
    padding: 10px 15px;
    vertical-align: top;
    font-family: Montserrat;
    font-weight: 400;
    flex-wrap: nowrap;
    font-size: 13px;
    width: 13vw;
}
.table tbody tr{
    background: #ffffff;
}
.table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}
.v23_864 {
    width: 684px;
    height: 860px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    border-radius: 10px;
}
.v336_489 {
    top: 250px;
    left: 24px;
    width: 635px;
    height: 240px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
}
.table tr.marked{
    background-color: #E0E0E0;
}
.v336_487.marked{
    opacity: 1;
}
.v336_485.marked{
    opacity: 1;
}
.v336_487 {
    width: 188px;
    height: 40px;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 188px;
    right: 15px;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.v23_878 {
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 220px;
    left: 25px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v23_879 {
    width: 119px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 502px;
    left: 25px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v23_865 {
    width: 684px;
    height: 38px;
    background: rgba(20,126,75,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v23_866 {
    width: 73px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 9px;
    left: 16px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v18_232 {
    width: 40vw;
    height: 153px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 25px;
    left: 0px;
    overflow: auto;
}
.v23_941 {
    width: 635px;
    height: 240px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 530px;
    left: 24px;
    border-radius: 10px;
    overflow: hidden;
}
.v336_490 {
    width: 635px;
    height: 145px;
    background: rgba(247,247,247,1);
    position: absolute;
    border-radius: 10px;
    background-size: cover;
    opacity: 1;
    top: 63px;
    left: 24px;
    overflow: hidden;
}
.v23_885 {
    width: 64px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 57px;
    left: 38px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v23_937 {
    width: 108px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 96px;
    left: 148px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v23_882 {
    width: 77px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v23_870 {
    width: 280px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 114px;
    border: 1px solid rgba(0,0,0,1);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    padding-left: 7px;
    border-radius: 5px;
    appearance: none;
}
.v23_871 {
    width: 267px;
    height: 25px;
    position: absolute;
    top: 52px;
    left: 114px;
    border: 1px solid rgba(0,0,0,1);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    border-radius: 5px;
}
.v336_486 {
    opacity: 1;
    overflow: hidden;
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    width: 116px;
    height: 40px;
    left: 399px;
    top: 796px;
    border: 1px solid #000000;
    border-radius: 5px;
    color: black;
}
.v336_485 {
    width: 200px;
    height: 40px;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 188px;
    right: 14px;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.v336_488 {
    background-size: cover;
    opacity: 1;
    position: absolute;
    width: 116px;
    height: 40px;
    left: 543px;
    top: 796px;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.v336_486:hover {
    background: #45A73E;
    border: 0px;
    transition-duration: 1s;
    color: white;
}

.v336_488:hover {
    background: #45A73E;
    transition-duration: 1s;
}