.v1_50 {
    width: 245px;
    height: 100vh;
    background: rgba(20,126,75,1);
    opacity: 1;
    position: absolute;
    top: 75px;
    left: 0px;
    overflow: hidden;
}
.v2_66:hover {
    background: rgba(69,167,62,1);
    opacity: 1;
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
    transition-duration: 1s;
}
.v2_66 {
    color: white;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    width: 220px;
    height: 34px;
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 11px;
    padding-left: 27px;
    cursor: pointer;
}
.v78_325 {
    width: 200px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 11px;
    overflow: hidden;
}
.v2_79 {
    width: 173px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 2px;
    left: 28px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}