.v1_3 {
    position: absolute;
    top: 383px;
    left: 312px;
    width: 77vw;
}
.v14_606 {
    width: 50px;
    height: 23px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 0px;
    right: 145px;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
}
.v14_602 {
    width: 50px;
    height: 27px;
    right: 360px;
    opacity: 1;
    position: absolute;
    border: 1px solid rgba(0,0,0,1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    padding-left: 7px;
}
.v14_595 {
    width: 108px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
.v14_596 {
    width: 125px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    right: 625px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v14_601 {
    width: 130px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    right: 430px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v14_605 {
    width: 71px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    right: 220px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v14_607 {
    width: 26px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 3px;
    right: 110px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}