<div th:fragment="balance-storage" class="balance">
    <div class="v25_1053">

        <span class="v25_1071">Номиналы</span>
        <span class="v25_1118">Количество - единственное редактируемое поле</span>
        <form th:action="@{/monitoring-storage/accept}" method="post" th:object="${cassette}" onsubmit="collectTableData()">
            <div class="v25_1058">
                <div class="v18_111">
                <table name="table" class="table" id="dynamicTable">
                    <thead>
                    <tr>
                        <th>Валюта</th>
                        <th>Номинал</th>
                        <th>Количество</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    <tr th:each="lst : ${storage}">
                        <td style="width: 7vw; text-align: center;" th:text="${lst.currency}" name="currency">Валюта</td>
                        <td style="width: 0vw; text-align: center;" th:text="${lst.banknote}" name="banknote">Номинал</td>
                        <td contenteditable style="width: 0vw; text-align: center;" th:text="${lst.amount}" name="amount">Количество</td>
                        <td style="width: 0vw; text-align: center;" th:text="${lst.banknote} * ${lst.amount}">Сумма</td>
                    </tr>
                    </tbody>
                </table>
                </div>
        </div>

            <a href="#">
                <input class="v350_827" value="Отменить">
            </a>

            <input type="hidden" id="tableDataField" name="tableData" />

            <input type="submit" class="v350_828" value="Применить">

            </form>

        <div class="v364_442">
            <div class="v25_1056">
                <span class="v25_1057" th:text="${textWindow} + ' - Остаток в хранилище'"></span>
            </div>
        </div>
    </div>
    <script>
        function collectTableData() {
            var tableData = "";
            var tbody = document.getElementById("tbody");
            var rows = tbody.getElementsByTagName("tr");

            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                var currency = row.getElementsByTagName("td")[0].innerText;
                var banknote = row.getElementsByTagName("td")[1].innerText;
                var amount = row.getElementsByTagName("td")[2].innerText;

                tableData += currency + " " + banknote + " " + amount + "\n";
            }

            document.getElementById("tableDataField").value = tableData;
            return true; // Позволяет отправить форму
        }
    </script>
</div>

<div th:fragment="blackout-balance" id="blackout-balance">
    <a href="#" class="close"></a>
    <div id="window-black">
        <div th:insert="storage/balance-storage :: balance-storage"></div>
    </div>
</div>