<div th:fragment="cash-order" class="cash">
    <div class="v23_948">
        <div class="v363_433">
            <div class="v363_432">
                <div class="v23_1028"></div>
                <span class="v23_1026">Наличные</span>
            </div>
            <div class="v363_401">
                    <table class="table" style="top:35px;">
                        <thead>
                        <tr>
                            <th>Валюта</th>
                            <th>Номинал</th>
                            <th>Количество</th>
                            <th>Сумма</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="lst : ${users}">
                            <td th:utext="${lst.id}">Валюта</td>
                            <td th:utext="${lst.firstName}">Номинал</td>
                            <td th:utext="${lst.lastName}">Количество</td>
                            <td th:utext="${lst.phone}">Сумма</td>
                        </tr>
                        </tbody>
                    </table>
                <span class="v23_962">Номиналы</span>
                <span class="v23_1036">Общая сумма: 0,00 EUR</span>
                <span class="v23_1030">Валюта</span>
            </div>
        </div>
        <div class="v363_435">
            <div class="v23_952"></div>
            <span class="v23_966">Получатель</span>
            <span class="v23_967">Отправитель</span>
            <span class="v23_969">Дата заказа</span>
            <select class="v23_954">
                <option>TEST</option>
            </select>
            <select class="v23_1018">
                <option>TEST</option>
            </select>
            <input class="v23_956" type="date">
        </div>
        <div class="v363_436">
            <div class="v23_949">
                <a href="/storage-collection">
                    <img style="position: absolute;width: 24px;height: 24px;right: 11px;top: 7px;"
                         src="../static/images/close.svg" th:src="@{images/close.svg}">
                </a>
            </div>
            <span class="v23_950">Заказ наличных</span>
        </div>
        <span class="v23_961">А0100089, Заказ, План. инкассация 07.08.2022</span>
        <select class="v363_434">
            <option>BYN</option>
        </select>
        <div class="v363_429">
            <input type="submit" class="v363_427" value="Применить">
            <input type="submit" class="v363_428" value="Закрыть">
        </div>
    </div>
</div>

<div th:fragment="blackout-cash" id="blackout-cash">
    <a href="#" class="close"></a>
    <div id="window-black">
        <div th:insert="storage/cash-order :: cash-order"></div>
    </div>
</div>