.window {
    width: 440px;
    height: 290px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    overflow: hidden;
}
#blackout-password {
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#window-black {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    margin: auto;
}
.close {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    cursor:pointer;
}
#blackout-password:target {display: block;}

input {
    outline: none;
    border: none;
    background: transparent;
    padding-left: 10px;
    /*border: 1px solid white;*/
}
.v105_824 {
    width: 440px;
    height: 290px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v306_415 {
    width: 399px;
    height: 153px;
    background: rgba(247,247,247,1);
    opacity: 1;
    position: absolute;
    top: 71px;
    left: 21px;
    border-radius: 30px;
    overflow: hidden;
}
.v306_430 {
    width: 170px;
    height: 25px;
    opacity: 1;
    position: absolute;
    top: 111px;
    left: 194px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    background: transparent;
}
.v306_431 {
    width: 112px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 115px;
    left: 61px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v306_432 {
    width: 170px;
    height: 25px;
    opacity: 1;
    position: absolute;
    top: 163px;
    left: 194px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 10px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    background: transparent;
}
.v306_433 {
    width: 106px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 167px;
    left: 67px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.v306_424 {
    width: 440px;
    height: 45px;
    background: rgba(20,126,75,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}
.v306_425 {
    width: 202px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 10px;
    left: 21px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v306_434 {
    width: 103px;
    height: 27px;
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 130px;
    overflow: hidden;
    background: rgba(0,148,63,1);
    color: rgba(255,255,255,1);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.v306_437 {
    width: 103px;
    height: 27px;
    background: rgba(0,148,63,1);
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 238px;
    left: 267px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: rgba(255,255,255,1);
    cursor: pointer;
    border-radius: 10px;
}